@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="page flex">
    <div class="sidebar bg-purple-400">
        <NavMenu />
    </div>

    <main class="flex-grow">
        <div class="h-14 px-4 bg-purple-800 flex items-center justify-end">
            <div class="nav-item">
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-link text-white hover:text-gray-300" href="Account/Manage">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link text-white hover:text-gray-300" href="Account/Register">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <div class="nav-item">
                <AuthorizeView>
                    <Authorized>
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="login" />
                            <button type="submit" class="nav-link text-white hover:text-gray-300">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link text-white hover:text-gray-300" href="/">
                            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
