@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1 class="text-3xl font-semibold text-purple-900 p-2 text-center">Forgot password confirmation</h1>
<p class="text-xl font-semibold text-purple-900 p-2 text-center">
    Please check your email to reset your password.
</p>
