@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<h1 class="text-3xl font-semibold text-purple-900 p-2 text-center">Invalid password reset</h1>
<p>
    The password reset link is invalid.
</p>
